.options a {
	font-size: 10px;
	font-weight: bold;
	margin-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 20px;
	padding-left: 26px;	
	
	background-image: transparent;
	background-repeat: no-repeat;
	background-position: 3px 50%;
}

.options.multiple { float: left; width: 250px; }
.options.last { float: left; width: 180px; }

.options .separator { margin-left: 20px; }

#content .options a.disabled { color: #aaa; cursor: default; }

.options a.back {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/arrow_left.png);
}
.options a.fasta {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/brick_go.png);
}
.options a.excel {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/page_excel.png);
}
.options a.edit {
	background-image:  url(../plugins/famfamfam-1.0.1/images/icons/pencil.png);
}
.options a.add {
	background-image:  url(../plugins/famfamfam-1.0.1/images/icons/add.png);
}
.options a.addSequences {
	background-image:  url(../plugins/famfamfam-1.0.1/images/icons/page_attach.png);
}
.options a.removeSequences {
	background-image:  url(../plugins/famfamfam-1.0.1/images/icons/page_delete.png);
}

.options a.addAssociation {
	background-image:  url(../plugins/famfamfam-1.0.1/images/icons/application_add.png);
}
.options a.editAssociation {
	background-image:  url(../plugins/famfamfam-1.0.1/images/icons/application_edit.png);
}
.options a.removeAssociation,
.options a.deleteAssociation {
	background-image:  url(../plugins/famfamfam-1.0.1/images/icons/application_delete.png);
}

.options a.delete {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/delete.png);
}

/* Classification */
.options a.classification {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/tag_blue.png);
}

.options a.classification_percentage {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/tag_red.png);
}

.options a.classification_export {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/tag_green.png);
}

/* Querying */
.options a.searchIn {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/arrow_branch.png);
}
.options a.search {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/arrow_undo.png);
}
.options a.discard {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/basket_remove.png);
}
.options a.listPrevious {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/basket.png);
}
.options a.combine {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/arrow_join.png);
}

/* Query results */
.options a.performAction {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/brick_go.png);
}
.options a.refineSearch {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/magnifier.png);
}